fastapi
uvicorn
python-multipart
python-dotenv
pypdf
pymupdf4llm
chromadb
sentence-transformers
rank-bm25
groq

langgraph
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters
tiktoken
